.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Fence {
  border: 2px solid #61dafb;
  width: 1200px;
  height: 650px;
}
.Button {
  /* background-color: #DAD735; */
    outline: none;
    cursor: pointer;
    border: 1px solid #282c34;
    color: #282c34;
    font-family: inherit;
    margin: auto;
    font-size: 1.0em;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #61dafb;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Box {
  border: 1px solid #d46c1794;
  width: 10%;
  position: absolute;
  height: 10%;
  margin : 5px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
